@charset "UTF-8";

$breakpoint: (
  tab: 'screen and (min-width: 768px)',
  pc: 'screen and (min-width: 1025px)'
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
   @content;
  }
}

$pt: 200px;

header{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: $pt;
    top: 0px;
    z-index: 999;
    background-color: antiquewhite;
}
.title{
    display: block;
    width: 100%;
    text-align: center;
    h1{
        font-size: 48px;
        @include mq(pc) {
            font-size: 32px;
        }
    }
    p{
        font-size: 24px;
        @include mq(pc) {
            font-size: 16px;
        }
    }
}
.all_box{
    display: flex;
    width: 100%;
    margin-top: 60px;
    padding-top: 180px;
}
.half_box{
    display: block;
    width: 50%;
}
.left_side{
    display: block;
    position: fixed;
    top: $pt;
    height: 100vh;
    background-image: url(../img/left_bg.jpg);
    @include mq(pc) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &_text{
        padding-top: 0px;
        @include mq(pc) {
            display: flex;
            padding-top: 32px;
        }
        p{
            font-size: 24px;
            line-height: calc(64px / 32px);
            padding: 1em 0;
            color: black;
            text-align: center;
            @include mq(pc) {
                font-size: 16px;
                padding: 1em;
            }
            span{
                background: linear-gradient(transparent 70%, red 100%);
                padding: 0.5em;
            }
        }
    }
}
.right_side{
    margin-left: 50%;
    position: absolute;
    top: $pt;
    background-color: #000;
    &_image{
        width: 75%;
        margin: 8px auto;
        img{
            width: 100%;
        }
    }
    &_text{
        p{
            color: red;
            text-align: center;
        }
    }
}